In [3]:
import pandas as pd
import numpy as np

In [4]:
df0 = pd.DataFrame({'class':np.random.randint(1,4,size=20)})

In [9]:
import sklearn.preprocessing as preprocessing
scaler = preprocessing.StandardScaler()
age_scale_param = scaler.fit(df0['class'].values.reshape(-1,1))
df0['class_scaled'] = scaler.fit_transform(df0['class'].values.reshape(-1,1), age_scale_param)

D:\APP\anaconda\lib\site-packages\sklearn\utils\validation.py:475: DataConversionWarning: Data with input dtype int32 was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)

In [10]:
df0

    class  class_scaled
0       2     -0.246183
1       1     -1.477098
2       3      0.984732
3       1     -1.477098
4       3      0.984732
5       3      0.984732
6       2     -0.246183
7       3      0.984732
8       3      0.984732
9       3      0.984732
10      1     -1.477098
11      1     -1.477098
12      3      0.984732
13      3      0.984732
14      3      0.984732
15      2     -0.246183
16      2     -0.246183
17      2     -0.246183
18      1     -1.477098
19      2     -0.246183

In [ ]:
df1 = pd.DataFrame({'class':[" "," "]},index=[20,21])

In [ ]:
df = pd.concat([df0,df1],axis=0)

In [ ]:
df

In [ ]:
df.fillna()

In [ ]:
dummies_Embarked = pd.get_dummies(df['class'], prefix= 'class')

In [ ]:
df3 = pd.concat([dummies_Embarked,df], axis=1)

In [ ]:
df3.fillna()

In [ ]:
df3.drop(['class'],axis=1,inplace=True)

In [ ]:
df3